/* General Font and Styling */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;

}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.projectimage {
  border-radius: 50%;
  width: 100%;
}


body {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

/* Centered Layout */
table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: separate;
}

td.formatpad {
  padding:20px;
  width:100%;
  vertical-align:middle;
}

#btnsection {
  padding:20px;
  width:100%;
  margin: 40px 0 100px 0;
}

input[type='button'] {
  border-radius: 4px;
  padding:10px 25px;
  cursor:pointer;
  border:solid 1px #ccc;
  font-weight:bold;
  color:#fff;
  background: dodgerblue;
  text-shadow: 1px 1px 3px #666;
  box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
}

input[type='button']:hover {
  background: rgb(72, 163, 255);
  border:solid 1px #EEEEEE;
}



/* Header Section */
.name {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #222;
}

p {
  text-align: justify;
  margin: 15px 0;
}

p a {
  margin: 0 10px;
}

h1 {
  text-align: center;
}

/* Profile Image */
#profilephoto {
  border-radius: 50%;
  object-fit: cover;
  width:100%;
  max-width:100%;
}

td.photoplaceh {
  padding:2.5%;
  width:40%;
  max-width:40%;
}

.photoplaceh a:hover img {
  opacity: .9;
  border-radius: 25% !important;
}


/* Section Titles */
h2 {
  font-weight: normal;
  font-size: 22px;
  margin: 0;
  color: #444;
}
/* Styling */
.findings-text {
  font-weight: normal;
  font-size: 18px; /* Adjust the size as needed */
  color: #333; /* Optional: Adjust color if needed */
}

/* Technical Background */
ul {
  list-style-type: disc;
  margin-left: 0;
}

li {
  margin-bottom: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  td {
    display: block;
    width: 100%;
  }

  td img {
    margin: 20px auto;
  }

  table {
    padding: 10px;
  }
}
